<section class="rooms">
    <div class="card btn" *ngFor="let room of $rooms | async" (click)="navigate(room?.key)">
        {{ room.name }}
    </div>
</section>
<section class="create-rooms">
    <button class="btn" (click)="isRoomCreationShown = !isRoomCreationShown">Créer une ROOM</button>
    <div class="room-details" [ngClass]="{'shown': !isRoomCreationShown}">
        <label class="room-create">
            <p>Room :</p>
            <input type="text" #roomName>
        </label>
        <br>
        <button class="btn" (click)="addRoom(roomName)">GO !!</button>
    </div>
</section>
<br>
<button class="btn" (click)="logout()">DeConnectez-vous au in-da-club</button>